<?xml version="1.0" ?>
<robot name="martha_joints" xmlns:xacro="http://www.ros.org/wiki/xacro">


<!-- Parâmetros para ERP e CFM -->
<xacro:property name="default_erp" value="0"/>
<xacro:property name="default_cfm" value="0.0001"/>



<joint name="r_sho_pitch_link" type="revolute">
  <origin xyz="-0.075737 -0.013299 0.16273" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="r_shoulder_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
  <physics>
      <ode>
        <erp>${default_erp}</erp>
        <cfm>${default_cfm}</cfm>
      </ode>
    </physics>
</joint>

<joint name="l_sho_pitch_link" type="revolute">
  <origin xyz="0.075763 -0.013299 0.16273" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="l_shoulder_1"/>
  <axis xyz="1.0 -0.0 0.0"/>
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
  <physics>
      <ode>
        <erp>${default_erp}</erp>
        <cfm>${default_cfm}</cfm>
      </ode>
    </physics>
</joint>

<joint name="r_sho_roll_link" type="revolute">
  <origin xyz="-0.023 0.021 -0.0145" rpy="0 0 0"/>
  <parent link="r_shoulder_1"/>
  <child link="r_arm_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
  <physics>
      <ode>
        <erp>${default_erp}</erp>
        <cfm>${default_cfm}</cfm>
      </ode>
    </physics>
</joint>

<joint name="l_sho_roll_link" type="revolute">
  <origin xyz="0.023 0.021 -0.0145" rpy="0 0 0"/>
  <parent link="l_shoulder_1"/>
  <child link="l_arm_1"/>
  <axis xyz="0.0 1.0 -0.0"/>
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
  <physics>
      <ode>
        <erp>${default_erp}</erp>
        <cfm>${default_cfm}</cfm>
      </ode>
    </physics>
</joint>

<joint name="head_pan_link" type="revolute">
  <origin xyz="1.3e-05 -0.013499 0.191301" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="neck_1"/>
  <axis xyz="0.0 0.0 1.0"/>
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
  <physics>
      <ode>
        <erp>${default_erp}</erp>
        <cfm>${default_cfm}</cfm>
      </ode>
    </physics>
</joint>

<joint name="head_tilt_link" type="revolute">
  <origin xyz="0.021 0.0 0.029" rpy="0 0 0"/>
  <parent link="neck_1"/>
  <child link="head_1"/>
  <axis xyz="1.0 -0.0 -0.0"/>
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
  <physics>
      <ode>
        <erp>${default_erp}</erp>
        <cfm>${default_cfm}</cfm>
      </ode>
    </physics>
</joint>

<joint name="l_el_link" type="revolute">
  <origin xyz="0.02075 -0.02076 -0.0996" rpy="0 0 0"/>
  <parent link="l_arm_1"/>
  <child link="l_hand_1"/>
  <axis xyz="1.0 0.0 0.0"/>
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
  <physics>
      <ode>
        <erp>${default_erp}</erp>
        <cfm>${default_cfm}</cfm>
      </ode>
    </physics>
</joint>

<joint name="r_el_link" type="revolute">
  <origin xyz="-0.02075 -0.02076 -0.0996" rpy="0 0 0"/>
  <parent link="r_arm_1"/>
  <child link="r_hand_1"/>
  <axis xyz="1.0 -0.0 -0.0"/>
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
  <physics>
      <ode>
        <erp>${default_erp}</erp>
        <cfm>${default_cfm}</cfm>
      </ode>
    </physics>
</joint>

<joint name="l_hip_yaw_link" type="revolute">
  <origin xyz="0.040013 -0.013499 -0.00575" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="l_hip_1"/>
  <axis xyz="-0.0 -0.0 -1.0"/>
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
  <physics>
      <ode>
        <erp>${default_erp}</erp>
        <cfm>${default_cfm}</cfm>
      </ode>
    </physics>
</joint>

<joint name="r_hip_yaw_link" type="revolute">
  <origin xyz="-0.039987 -0.013499 -0.00575" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="r_hip_1"/>
  <axis xyz="-0.0 -0.0 -1.0"/>
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
  <physics>
      <ode>
        <erp>${default_erp}</erp>
        <cfm>${default_cfm}</cfm>
      </ode>
    </physics>
</joint>

<joint name="l_hip_roll_link" type="revolute">
  <origin xyz="0.0 0.02215 -0.034" rpy="0 0 0"/>
  <parent link="l_hip_1"/>
  <child link="l_waist_1"/>
  <axis xyz="0.0 -1.0 0.0"/>
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
  <physics>
      <ode>
        <erp>${default_erp}</erp>
        <cfm>${default_cfm}</cfm>
      </ode>
    </physics>
</joint>

<joint name="r_hip_roll_link" type="revolute">
  <origin xyz="0.0 0.02215 -0.034" rpy="0 0 0"/>
  <parent link="r_hip_1"/>
  <child link="r_waist_1"/>
  <axis xyz="-0.0 -1.0 0.0"/>
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
  <physics>
      <ode>
        <erp>${default_erp}</erp>
        <cfm>${default_cfm}</cfm>
      </ode>
    </physics>
</joint>

<joint name="r_hip_pitch_link" type="revolute">
  <origin xyz="-0.0226 -0.01945 0.0" rpy="0 0 0"/>
  <parent link="r_waist_1"/>
  <child link="r_thigh_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
  <physics>
      <ode>
        <erp>${default_erp}</erp>
        <cfm>${default_cfm}</cfm>
      </ode>
    </physics>
</joint>

<joint name="l_hip_pitch_link" type="revolute">
  <origin xyz="-0.0226 -0.01945 0.0" rpy="0 0 0"/>
  <parent link="l_waist_1"/>
  <child link="l_thigh_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
  <physics>
      <ode>
        <erp>${default_erp}</erp>
        <cfm>${default_cfm}</cfm>
      </ode>
    </physics>
</joint>

<joint name="l_knee_link" type="revolute">
  <origin xyz="0.00235 0.0 -0.1005" rpy="0 0 0"/>
  <parent link="l_thigh_1"/>
  <child link="l_shin_1"/>
  <axis xyz="1.0 -0.0 -0.0"/>
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
  <physics>
      <ode>
        <erp>${default_erp}</erp>
        <cfm>${default_cfm}</cfm>
      </ode>
    </physics>
</joint>

<joint name="r_knee_link" type="revolute">
  <origin xyz="0.00235 0.0 -0.1005" rpy="0 0 0"/>
  <parent link="r_thigh_1"/>
  <child link="r_shin_1"/>
  <axis xyz="1.0 -0.0 -0.0"/>
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
  <physics>
      <ode>
        <erp>${default_erp}</erp>
        <cfm>${default_cfm}</cfm>
      </ode>
    </physics>
</joint>

<joint name="r_ank_pitch_link" type="revolute">
  <origin xyz="0.04335 0.0 -0.100025" rpy="0 0 0"/>
  <parent link="r_shin_1"/>
  <child link="r_ankle_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
  <physics>
      <ode>
        <erp>${default_erp}</erp>
        <cfm>${default_cfm}</cfm>
      </ode>
    </physics>
</joint>

<joint name="l_ank_pitch_link" type="revolute">
  <origin xyz="0.04335 0.0 -0.100025" rpy="0 0 0"/>
  <parent link="l_shin_1"/>
  <child link="l_ankle_1"/>
  <axis xyz="-1.0 0.0 -0.0"/>
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
  <physics>
      <ode>
        <erp>${default_erp}</erp>
        <cfm>${default_cfm}</cfm>
      </ode>
    </physics>
</joint>

<joint name="l_ank_roll_link" type="revolute">
  <origin xyz="-0.0226 -0.0227 0.0" rpy="0 0 0"/>
  <parent link="l_ankle_1"/>
  <child link="l_feet_1"/>
  <axis xyz="0.0 -1.0 0.0"/>
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
  <physics>
      <ode>
        <erp>${default_erp}</erp>
        <cfm>${default_cfm}</cfm>
        <max_contacts>4</max_contacts>
      </ode>
    </physics>
</joint>

<joint name="r_ank_roll_link" type="revolute">
  <origin xyz="-0.0226 -0.0227 0.0" rpy="0 0 0"/>
  <parent link="r_ankle_1"/>
  <child link="r_feet_1"/>
  <axis xyz="0.0 -1.0 0.0"/>
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
  <physics>
      <ode>
        <erp>${default_erp}</erp>
        <cfm>${default_cfm}</cfm>
        <max_contacts>4</max_contacts>
      </ode>
    </physics>
</joint>

</robot>