<launch>

    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen" args="_port:=/dev/ttyACM0 _baud:=1000000"/>
    
    <node name="ball_tracking_node" pkg="defesa" type="ball_tracking.py" output="screen"/>

    <node name="head_control_node" pkg="defesa" type="servo_track.py" output="screen"/>

</launch>