# ROS / Catkin
build/
devel/
.catkin_workspace
nohup.out

# Python
__pycache__/
*.pyc
nohup.out

# Bags
*.bag

/Marta_ws/build
/Marta_ws/devel
*.Identifier

Marta_ws/.catkin_workspace
Marta_ws/src/CMakeLists.txt

sigmaban_model
**/__pycache__
**.pyc
**.json
**.pkl
data/
*.egg-info
**/logs
