<launch>
    
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen" args="_port:=/dev/ttyACM0 _baud:=1000000"/>

    <node name="ball_tracking_node" pkg="defesa" type="ball_tracking.py" output="screen"/>

    <node name="head_control_node" pkg="defesa" type="servo_angles.py" output="screen"/>

    <node name="taffarel_server_node" pkg="martha_controller" type="taffarelAction.py" output="screen"/>

</launch>
