<?xml version="1.0" ?>
<robot name="marta" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find marta_description)/urdf/materials.xacro" />
<xacro:include filename="$(find marta_description)/urdf/marta.trans" />
<xacro:include filename="$(find marta_description)/urdf/marta.gazebo" />
<xacro:include filename="$(find marta_description)/urdf/camera.xacro" />
<xacro:include filename="$(find marta_description)/urdf/IMU.xacro" />
<xacro:include filename="$(find marta_description)/urdf/marta_joints.xacro" />

<xacro:imu_sensor parent="base_link" ns="marta" origin="0 0 0 0 0 0"/>
<xacro:camera_sensor parent="head_1" camera_name="front_camera" ns="marta" origin="-0.02060 -0.050864 0.047202 0 0 -1.57"/>

<link name="base_link">
  <inertial>
    <origin xyz="5.4347537332971534e-05 -0.0007644260033313482 -0.006523313454687187" rpy="0 0 0"/>
    <mass value="2.9663080742707644"/>
    <inertia ixx="0.011903" iyy="0.0138" izz="0.007909" ixy="-0.000103" iyz="-5e-06" ixz="-0.000518"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="neck_1">
  <inertial>
    <origin xyz="-2.0877493726607216e-07 3.7893876529736595e-07 0.011928878554294392" rpy="0 0 0"/>
    <mass value="0.007507007184292331"/>
    <inertia ixx="4e-06" iyy="1e-06" izz="3e-06" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.00676 0.000494 -0.124698" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/neck_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.00676 0.000494 -0.124698" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/neck_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="head_1">
  <inertial>
    <origin xyz="0.022314681391525898 -0.02073370699479041 0.026627384704522722" rpy="0 0 0"/>
    <mass value="0.16258125298377385"/>
    <inertia ixx="0.000125" iyy="0.000133" izz="0.000127" ixy="-0.0" iyz="-0.0" ixz="-5.5e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.00676 -0.020006 -0.152698" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/head_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.00676 -0.020006 -0.152698" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/head_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="r_hip_1">
  <inertial>
    <origin xyz="4.496718738833741e-07 3.7898272031711144e-07 -0.012938477259913969" rpy="0 0 0"/>
    <mass value="0.01873031428199979"/>
    <inertia ixx="4e-06" iyy="1e-05" izz="8e-06" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.006749 0.039994 0.071802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/r_hip_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.006749 0.039994 0.071802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/r_hip_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="l_hip_1">
  <inertial>
    <origin xyz="4.49671817612414e-07 3.7898277812503656e-07 -0.012938477259914455" rpy="0 0 0"/>
    <mass value="0.01873031428199979"/>
    <inertia ixx="4e-06" iyy="1e-05" izz="8e-06" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.006749 -0.040006 0.071802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/l_hip_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.006749 -0.040006 0.071802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/l_hip_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="l_waist_1">
  <inertial>
    <origin xyz="0.003217881889190843 -0.00037965351061265 -0.012642485684384322" rpy="0 0 0"/>
    <mass value="0.16487378237644235"/>
    <inertia ixx="2.6e-05" iyy="0.000112" izz="0.000104" ixy="0.0" iyz="-0.0" ixz="-4e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.017701 -0.040006 0.102802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/l_waist_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.017701 -0.040006 0.102802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/l_waist_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="r_waist_1">
  <inertial>
    <origin xyz="0.0029988946147530924 0.00014360062854707617 -0.012642485684004917" rpy="0 0 0"/>
    <mass value="0.16487378237608635"/>
    <inertia ixx="2.6e-05" iyy="0.00011" izz="0.000103" ixy="-1e-06" iyz="0.0" ixz="-4e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.017701 0.039994 0.102802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/r_waist_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.017701 0.039994 0.102802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/r_waist_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="r_thigh_1">
  <inertial>
    <origin xyz="0.00017192155994741592 0.02167403651120388 -0.07484221886234771" rpy="0 0 0"/>
    <mass value="0.10528495656286858"/>
    <inertia ixx="8.3e-05" iyy="7.2e-05" izz="1.8e-05" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.003599 0.060744 0.102802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/r_thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.003599 0.060744 0.102802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/r_thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="l_thigh_1">
  <inertial>
    <origin xyz="-0.0001710222162556417 -0.021673278545692613 -0.07484221886234874" rpy="0 0 0"/>
    <mass value="0.10528495656286858"/>
    <inertia ixx="8.3e-05" iyy="7.2e-05" izz="1.8e-05" ixy="-0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.003599 -0.060756 0.102802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/l_thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.003599 -0.060756 0.102802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/l_thigh_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="r_shin_1">
  <inertial>
    <origin xyz="4.4967183843690195e-07 0.020750378982766465 -0.05000019845333212" rpy="0 0 0"/>
    <mass value="0.02070946991510972"/>
    <inertia ixx="3.2e-05" iyy="2.3e-05" izz="1.1e-05" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.003599 0.060244 0.203802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/r_shin_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.003599 0.060244 0.203802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/r_shin_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="l_shin_1">
  <inertial>
    <origin xyz="4.496718534426937e-07 -0.02074962101724443 -0.050000198453333006" rpy="0 0 0"/>
    <mass value="0.02070946991510972"/>
    <inertia ixx="3.2e-05" iyy="2.3e-05" izz="1.1e-05" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.003599 -0.060256 0.203802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/l_shin_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.003599 -0.060256 0.203802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/l_shin_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="l_ankle_1">
  <inertial>
    <origin xyz="-0.018082118110802223 0.02113041147611956 0.01264208877767331" rpy="0 0 0"/>
    <mass value="0.16487378237644235"/>
    <inertia ixx="2.6e-05" iyy="0.000112" izz="0.000104" ixy="-0.0" iyz="-0.0" ixz="4e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.003599 -0.018756 0.303802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/l_ankle_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.003599 -0.018756 0.303802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/l_ankle_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="r_ankle_1">
  <inertial>
    <origin xyz="-0.018301105385253563 -0.02089284266302423 0.012642088777299165" rpy="0 0 0"/>
    <mass value="0.16487378237608635"/>
    <inertia ixx="2.6e-05" iyy="0.00011" izz="0.000103" ixy="1e-06" iyz="0.0" ixz="4e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.003599 0.018744 0.303802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/r_ankle_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.003599 0.018744 0.303802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/r_ankle_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>


<link name="l_shoulder_1">
  <inertial>
    <origin xyz="4.496718419150225e-07 0.010312955894494533 -0.0033923795362138243" rpy="0 0 0"/>
    <mass value="0.06160861853585967"/>
    <inertia ixx="1.1e-05" iyy="2.9e-05" izz="2.9e-05" ixy="0.0" iyz="2e-06" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.006749 -0.075756 -0.096678" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/l_shoulder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.006749 -0.075756 -0.096678" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/l_shoulder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="r_shoulder_1">
  <inertial>
    <origin xyz="4.496718407709724e-07 -0.010312197929004105 -0.003392379536217266" rpy="0 0 0"/>
    <mass value="0.06160861853585967"/>
    <inertia ixx="1.1e-05" iyy="2.9e-05" izz="2.9e-05" ixy="0.0" iyz="-2e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.006749 0.075744 -0.096678" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/r_shoulder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.006749 0.075744 -0.096678" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/r_shoulder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="l_arm_1">
  <inertial>
    <origin xyz="0.020899117897452697 -0.000152601605755337 -0.049267253308045655" rpy="0 0 0"/>
    <mass value="0.17356538250917286"/>
    <inertia ixx="0.00023" iyy="0.000229" izz="2e-05" ixy="-0.0" iyz="-2e-06" ixz="-2e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.014251 -0.098756 -0.082178" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/l_arm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.014251 -0.098756 -0.082178" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/l_arm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="r_arm_1">
  <inertial>
    <origin xyz="-0.02089821855377002 0.00015335957124805455 -0.04926725330804953" rpy="0 0 0"/>
    <mass value="0.17356538250917286"/>
    <inertia ixx="0.00023" iyy="0.000229" izz="2e-05" ixy="-0.0" iyz="2e-06" ixz="2e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.027749 0.098744 -0.082178" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/r_arm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.027749 0.098744 -0.082178" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/r_arm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>



<link name="r_hand_1">
  <inertial>
    <origin xyz="4.638366823631751e-07 -0.0016993531784608995 -0.09900753221895309" rpy="0 0 0"/>
    <mass value="0.044998963500059705"/>
    <inertia ixx="8.1e-05" iyy="8.6e-05" izz="5e-06" ixy="-0.0" iyz="-1e-06" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.007009 0.119494 0.017422" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/r_hand_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.007009 0.119494 0.017422" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/r_hand_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="l_hand_1">
  <inertial>
    <origin xyz="4.3550700028725797e-07 0.0017001111439592792 -0.0990075322189484" rpy="0 0 0"/>
    <mass value="0.044998963500059705"/>
    <inertia ixx="8.1e-05" iyy="8.6e-05" izz="5e-06" ixy="-0.0" iyz="1e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.006489 -0.119506 0.017422" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/l_hand_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.006489 -0.119506 0.017422" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/l_hand_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>



<link name="l_feet_1">
  <inertial>
    <origin xyz="0.03170463685076108 3.7854833169481683e-07 -0.02917623775896855" rpy="0 0 0"/>
    <mass value="0.06770857635843897"/>
    <inertia ixx="2.2e-05" iyy="0.00011" izz="0.000119" ixy="0.0" iyz="0.0" ixz="-1e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.017701 -0.039506 0.303802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/l_feet_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.017701 -0.039506 0.303802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/l_feet_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <surface>
      <contact>
          <ode>
            <!-- <max_vel>0</max_vel> -->
            <kp>1e25</kp>
            <kd>1e23</kd>
          </ode>
        </contact>
    </surface>
  </collision>
</link>


<link name="r_feet_1">
  <inertial>
    <origin xyz="0.03170463685073746 3.7854834774447843e-07 -0.029176237758968993" rpy="0 0 0"/>
    <mass value="0.06770857635843897"/>
    <inertia ixx="2.2e-05" iyy="0.00011" izz="0.000119" ixy="0.0" iyz="0.0" ixz="-1e-06"/>
  </inertial>
  <visual>
    <origin xyz="0.017701 0.039494 0.303802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/r_feet_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.017701 0.039494 0.303802" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://marta_description/meshes/r_feet_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <surface>
      <contact>
          <ode>
            <!-- <max_vel>0</max_vel> -->
            <kp>1e25</kp>
            <kd>1e23</kd>
          </ode>
        </contact>
    </surface>
  </collision>
</link>

</robot>
