<?xml version="1.0" ?>
<robot name="marta_joints" xmlns:xacro="http://www.ros.org/wiki/xacro">


<!-- Parâmetros para ERP e CFM -->
<xacro:property name="default_erp" value="0"/>
<xacro:property name="default_cfm" value="0.0001"/>



<joint name="head_pan_link" type="revolute">
  <origin xyz="0.00676 -0.000494 0.124698" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="neck_1"/>
  <axis xyz="-0.0 0.0 -1.0"/>
  <!-- <dynamics damping="0.1" /> -->
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
</joint>

<joint name="head_tilt_link" type="revolute">
  <origin xyz="0.0 0.0205 0.028" rpy="0 0 0"/>
  <parent link="neck_1"/>
  <child link="head_1"/>
  <axis xyz="-0.0 -1.0 -0.0"/>
  <!-- <dynamics damping="0.1" /> -->
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
</joint>

<joint name="r_hip_yaw_link" type="revolute">
  <origin xyz="0.006749 -0.039994 -0.071802" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="r_hip_1"/>
  <axis xyz="-0.0 0.0 -1.0"/>
  <!-- <dynamics damping="0.1" /> -->
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
</joint>

<joint name="l_hip_yaw_link" type="revolute">
  <origin xyz="0.006749 0.040006 -0.071802" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="l_hip_1"/>
  <axis xyz="0.0 0.0 -1.0"/>
  <!-- <dynamics damping="0.1" /> -->
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
</joint>

<joint name="l_hip_roll_link" type="revolute">
  <origin xyz="-0.02445 0.0 -0.031" rpy="0 0 0"/>
  <parent link="l_hip_1"/>
  <child link="l_waist_1"/>
  <axis xyz="1.0 -0.0 0.0"/>
  <!-- <dynamics damping="0.1" /> -->
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
</joint>

<joint name="r_hip_roll_link" type="revolute">
  <origin xyz="-0.02445 0.0 -0.031" rpy="0 0 0"/>
  <parent link="r_hip_1"/>
  <child link="r_waist_1"/>
  <axis xyz="1.0 0.0 -0.0"/>
  <!-- <dynamics damping="0.1" /> -->
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
</joint>

<joint name="r_hip_pitch_link" type="revolute">
  <origin xyz="0.0213 -0.02075 0.0" rpy="0 0 0"/>
  <parent link="r_waist_1"/>
  <child link="r_thigh_1"/>
  <axis xyz="0.0 1.0 -0.0"/>
  <!-- <dynamics damping="0.1" /> -->
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
</joint>

<joint name="l_hip_pitch_link" type="revolute">
  <origin xyz="0.0213 0.02075 0.0" rpy="0 0 0"/>
  <parent link="l_waist_1"/>
  <child link="l_thigh_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <!-- <dynamics damping="0.1" /> -->
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
</joint>

<joint name="r_knee_link" type="revolute">
  <origin xyz="0.0 0.0005 -0.101" rpy="0 0 0"/>
  <parent link="r_thigh_1"/>
  <child link="r_shin_1"/>
  <axis xyz="-0.0 1.0 -0.0"/>
  <!-- <dynamics damping="0.1" /> -->
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
</joint>

<joint name="l_knee_link" type="revolute">
  <origin xyz="0.0 -0.0005 -0.101" rpy="0 0 0"/>
  <parent link="l_thigh_1"/>
  <child link="l_shin_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <!-- <dynamics damping="0.1" /> -->
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
</joint>

<joint name="l_ank_pitch_link" type="revolute">
  <origin xyz="0.0 -0.0415 -0.1" rpy="0 0 0"/>
  <parent link="l_shin_1"/>
  <child link="l_ankle_1"/>
  <axis xyz="-0.0 1.0 -0.0"/>
  <!-- <dynamics damping="0.1" /> -->
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
</joint>

<joint name="r_ank_pitch_link" type="revolute">
  <origin xyz="0.0 0.0415 -0.1" rpy="0 0 0"/>
  <parent link="r_shin_1"/>
  <child link="r_ankle_1"/>
  <axis xyz="-0.0 1.0 0.0"/>
  <!-- <dynamics damping="0.1" /> -->
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
</joint>

<joint name="r_ank_roll_link" type="revolute">
  <origin xyz="-0.0213 -0.02075 0.0" rpy="0 0 0"/>
  <parent link="r_ankle_1"/>
  <child link="r_feet_1"/>
  <axis xyz="1.0 0.0 -0.0"/>
  <!-- <dynamics damping="0.1" /> -->
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
</joint>

<joint name="l_sho_pitch_link" type="revolute">
  <origin xyz="0.006749 0.075756 0.096678" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="l_shoulder_1"/>
  <axis xyz="0.0 -1.0 0.0"/>
  <!-- <dynamics damping="0.1" /> -->
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
</joint>

<joint name="r_sho_pitch_link" type="revolute">
  <origin xyz="0.006749 -0.075744 0.096678" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="r_shoulder_1"/>
  <axis xyz="-0.0 -1.0 -0.0"/>
  <!-- <dynamics damping="0.1" /> -->
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
</joint>

<joint name="l_sho_roll_link" type="revolute">
  <origin xyz="-0.021 0.023 -0.0145" rpy="0 0 0"/>
  <parent link="l_shoulder_1"/>
  <child link="l_arm_1"/>
  <axis xyz="-1.0 -0.0 -0.0"/>
  <!-- <dynamics damping="0.1" /> -->
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
</joint>

<joint name="r_sho_roll_link" type="revolute">
  <origin xyz="0.021 -0.023 -0.0145" rpy="0 0 0"/>
  <parent link="r_shoulder_1"/>
  <child link="r_arm_1"/>
  <axis xyz="-1.0 0.0 -0.0"/>
  <!-- <dynamics damping="0.1" /> -->
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
</joint>

<joint name="l_ank_roll_link" type="revolute">
  <origin xyz="-0.0213 0.02075 0.0" rpy="0 0 0"/>
  <parent link="l_ankle_1"/>
  <child link="l_feet_1"/>
  <axis xyz="1.0 -0.0 0.0"/>
  <!-- <dynamics damping="0.1" /> -->
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
</joint>

<joint name="r_el_link" type="revolute">
  <origin xyz="-0.02074 -0.02075 -0.0996" rpy="0 0 0"/>
  <parent link="r_arm_1"/>
  <child link="r_hand_1"/>
  <axis xyz="0.0 -1.0 -0.0"/>
  <!-- <dynamics damping="0.1" /> -->
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
</joint>

<joint name="l_el_link" type="revolute">
  <origin xyz="0.02074 0.02075 -0.0996" rpy="0 0 0"/>
  <parent link="l_arm_1"/>
  <child link="l_hand_1"/>
  <axis xyz="-0.0 -1.0 0.0"/>
  <!-- <dynamics damping="0.1" /> -->
  <limit lower="-3.14159" upper="3.14159" effort="1000.0" velocity="0.01"/>
</joint>

</robot>