<launch>
  <arg name="rviz" default="true"/>

  <!-- Carregar a descricao do robo a partir do URDF -->
  <param name="robot_description" command="$(find xacro)/xacro $(find marta_description)/urdf/marta.xacro"/>
  
  <include file="$(find marta_gazebo)/launch/gazebo_init.launch">
    <arg name="world_name" value="world.world"/>
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!--<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>-->
  
  <!-- Spawn do modelo do robo no Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
  args="-param robot_description -urdf -model marta -x 0 -y 0 -z 0.3409 -R 0 -P 0 -Y 0 
  -J head_pan_link 0
  -J head_tilt_link 0
  -J r_sho_roll_link 0
  -J l_sho_pitch_link 0
  -J l_sho_roll_link 0
  -J r_sho_pitch_link 0
  -J l_el_link 0
  -J r_el_link 0
  -J l_hip_roll_link 0
  -J r_hip_roll_link 0
  -J l_hip_yaw_link 0
  -J r_hip_roll_link 0
  -J r_hip_pitch_link 0
  -J r_hip_yaw_link 0
  -J l_knee_link 0
  -J r_knee_link 0
  -J l_ank_roll_link 0
  -J l_ank_pitch_link 0
  -J r_ank_roll_link 0
  -J l_ank_pitch_link 0
  "/>

  <!-- Incluir os controladores de juntas -->
  <include file="$(find marta_gazebo)/launch/controller.launch"/>

  <!-- Iniciar o RViz com configuracao predefinida para visualizacao do robo--> 
  <group if="$(arg rviz)">
    <include file="$(find marta_gazebo)/launch/rviz.launch"/>
  </group>

  <node pkg="martha_controller" type="taffarelAction.py" name="taffarel_node" output="screen"/>
 
</launch>
